<ion-modal-view>
 
  <ion-content class="has-header" padding="'true'" >
    <div class="item item-image" style="border: none;">
      <img ng-src="img/bitasean_wallet.png"/>
    </div>
    
	<div class="list card">  
        <button class="button button-clear button-positive " ng-click="goLogin('')">Create New Wallet</i></button>
    </div>
    <div class="list card">
      <span class="item item-input">
        <textarea ng-model="restoreSeed"  rows="2" placeholder="insert seed passphrase from backup to restore an existing wallet"></textarea>
      </span>
      <button class="button button-clear button-positive " ng-click="restoreLogin(restoreSeed)">Restore from seed</i></button>
    </div> 

  </ion-content>
</ion-modal-view>