<ion-view view-title="Wallet">
  <ion-content class="has-header scrollBg" style="background: white;">
    <ion-refresher pulling-txt="load" on-refresh="refreshBalance()"></ion-refresher>
    <div class="list">
      <ion-list class="list" can-swipe="true">
      <ion-item class="item item-divider item-avatar-left  item-icon-right item-avatar-right">
        <img ng-src="{{logoCoin}}" ng-click="scrollRefresh()"/>
        <label id="{{idCoin}}"><b>{{balance | currency:symbolCoin+' ':decimals}} </b><!--span class="subdued" ">({{balanceExc}})</span--></label>
        <p>
          <label >{{descCoin}}</label>
        </p>
		<button style="margin-right: 25px;" class="button button-icon icon ion-ios-list-outline dark" ng-click="listTransaction()"></button>
        <span><i class="icon ion-android-more-vertical" ng-click="chooseCoin()"></i>
        </span>
      </ion-item>
      </ion-list>
      <div class="item" >
        <div class="item item-input item-stacked-label item-icon-right">
          <span class="input-label">
            <label class="item-floating-label">Address To</label>
            <label class="item-floating-label">{{ENSResolved | strLimit: 5 : 5}}</label>
            <label class="item-floating-label" ng-show="isFriend(payTo.addrTo)">{{isFriend(payTo.addrTo) | strLimit: 5 : 5}}</label> 
			<i class="icon ion-ios-person-outline positive" style="margin-right: 40px;" ng-click="openFriendsModal()"></i> 
			<i class="icon ion-ios-camera-outline positive" ng-click="scanPay()"></i> 
				 
          </span>
          <!--span class="item-note">{{balAddrTo | currency:symbolCoin+' ':decimals}}</span-->
          <!--i class="icon ion-ios-personadd-empty positive" ng-show="isFriend(addrTo)=='' && isValidAddr(addrTo)" ng-click="addAddress(addrTo,addrKey)"></i-->
          
		  <input type="search" ng-model="payTo.addrTo"  placeholder="Type address or use camera to scan" ng-required="true"></input>
		  <button class="icon button-icon ion-ios-close-empty dark" ng-if="payTo.addrTo.length > 0" on-touch="payTo.addrTo=''"></button>
		  
		</div>
        <div class="item item-input item-select">
			<span style="color:#444;padding-top:10px;padding-bottom:10px;" class="item-note">Amount </span>
            <input style="padding-left:30px" type="number" pattern="-?\d+(\.\d+)?" ng-model="amountTo" placeholder="0.00">
			<select id="valuta" class="item-select padding" ng-model="unit" ng-init="unit" ng-change="unitChanged(unit)">
				<option ng-repeat="uni in listUnit" value="{{uni.multiplier}}" ng-selected="$index==0">{{uni.unitName}}</option>
			</select>
        </div>
        <div style="padding: 6px 0 5px 16px !important;" class="item range range-positive item-input">
          <!--div class="item range range-positive">
            <span class="item-note">fee {{feeLabel}} {{symbolFee}}</span>
            <input type="range" ng-model="fee"  min="{{minFee}}" max="{{maxFee}}" step="{{step}}" value="{{fee}}" ng-init="fee" ng-change="setFee(fee)">
          </div-->  
		   <ion-row style=" width: 100%;">
		    <span style="width: 100%;color:#444;padding-top:10px;padding-bottom:10px;" class="item-note">Fee {{fee}} ETH</span>
              
			<span style="width: 100%;" class="item-note">Gas Price {{gasPrice}} Gwei</span>
             
			<input style="width: -webkit-fill-available;" type="range" ng-model="gasPrice"  min="{{minGasPrice}}" max="{{maxGasPrice}}" step="{{stepGasPrice}}" value="{{gasPrice}}" ng-change="setGasPrice(gasPrice)">
          
			<span style="width: 100%;" class="item-note">Gas Limit {{gasLimit}}</span>
            <input style="width: -webkit-fill-available;" type="range" ng-model="gasLimit"  min="{{minGasLimit}}" max="{{maxGasLimit}}" step="{{stepGasLimit}}" value="{{gasLimit}}" ng-change="setGasLimit(gasLimit)">
          </ion-row>
        </div>
			<button ng-disabled="!unit || !amountTo>0 || !payTo.addrTo" class="button button-block button-energized" ng-click="confirmSend(payTo.addrTo,amountTo,unit,idCoin)"><i class="icon ion-paper-airplane"></i> Send 
			</button>
        </div> 
         
    </div>
  </ion-content>
</ion-view>